.Learning-Check {
    background: $SAR-white; 
    .QContent {
        @include padding;
        .learning-check-container {
            display: flex;
            flex-flow: column nowrap;
            @include sm {
                flex-flow: row wrap;
                justify-content: space-between;
                margin-top: 10px;
            }
            @include mdp {
             //   flex-flow: column wrap;
            }
            .intro {
                font-size: 1.8rem;
                padding: 20px 20px 600px 20px;
                animation: intro 1s 1;
                -webkit-animation: intro 1s 1;
                animation-fill-mode: forwards;
                animation-delay: 6s;
                -webkit-animation-delay: 6s; /* Safari and Chrome */
                -webkit-animation-fill-mode: forwards;
                p { margin: 0 0 1rem 0; }
                @include md {
                    font-size: 1rem;
                    animation: none;
                    -webkit-animation: none;
                    width: 100%;
                }
                @include mdp {
                    padding: 0 0 40px 0;
                }
                @include lg {
                    padding: 0;
                }
            } 
                
            @keyframes intro {
                from {  opacity: 1; }
                to {    opacity: 0; width: 0; height: 0; padding: 0; }
            }
            
            @-webkit-keyframes intro {
                from {  opacity: 1;  }
                to {    opacity: 0; width: 0; height: 0; padding: 0; }
            }

            .container {
                display: flex;
                flex-direction: column;
               
                min-height: 0;
                background: $SAR-white;
                margin-top: 10px;
                //min-height: 20%;
                //height: auto;
                flex-shrink: 0;
                .dropzone {
                    display: flex;
                    flex-flow: wrap;
                    align-content: flex-start;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    min-height: 110px;
              //      border: 1px dashed #525252;
              //      align-content: flex-center;
              //      align-items: center;
                    
                    flex: 1 1 100%;
                    @include sm {
                        min-width: 0;
                    }
                    @include mdp {
                        flex-direction: row;
                        min-height: 0;
                    }
                    @include lg {
                        flex-direction: row;
                        min-height: 0;
                        height: 120px;
                    }
                    .draggableItem {
                        background: $SAR-dark-blue;
                        color: $SAR-white;
                        @include round-corners;
                        outline: none;
                        text-align: center;
                        padding: 4px 8px;
                        margin: 2px;
                        width: 100%;
                        min-height: 10%;
                        height: auto;
                        max-height: initial;
                        @include sm {
                            width: 220px;
                            padding: 6px 8px;
                        }
                        @include mdp {
                            width: 220px;
                            padding: 6px 8px;
                        }
                        @include lg {
                            width: 272px;
                            padding: 6px 8px;
                        }
                    }
                }
                &:not(.c0) {
                    border: 1px solid #000000;
                    
                    @include sm {
                        width: 32%;
                        
                        .dropzone {
                            min-height: 138px;
                        }
                    }
                    @include mdp {
                        width: 48%;
                        .dropzone {
                            min-height: 148px;
                            .draggableItem {
                                width: 100%;
                            }
                        }
                    }
                }
                &.c0 {
                    order: 1;
                    align-self: flex-end;
                    display: flex;
                    flex-direction: row;                     
                 //   width: 100%;
                 width: 100%;
                    min-height: 0;
                    .dropzone {
                        align-items: flex-start;
                        overflow: hidden; 
                        min-height: 0;
                        max-height: 180px;
                        @include sm {
                            max-height: 250px;
                        }
                        .draggableItem {
                            background: $SAR-burnt-orange;
                        }
                      //  width: 270px;
                    }
                    @include sm {
                        max-width: 32%;
                    //    background: red;
                        order: 0;
                    }
                    @include md {
                    //    background: yellow;
                    }
                    @include mdp {
                    //    background: purple;
                        order: 4;
                        max-width: 100%;
                        width: 100%;
                        flex-direction: row;
                        max-height: 180px;
                        .dropzone {
                            justify-content: flex-start;
                        }
                        
                    }
                    @include lg {
                        order: 4;
                        max-width: 100%;
                        width: 100%;
                        flex-direction: row;
                        max-height: 120px;
                    //    background: red;
                        .dropzone {
                            justify-content: flex-start;
                        }
                    }
                }
                &.submitContainer {
                    border: 0;
                    .dropzone {
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }
                
                    @include sm {
                        min-height: 202px;
                        max-height: 252px;
                        overflow: hidden;
                        margin-top: 10px;
                    }
                    @include mdp {
                        order: 5;
                        width: 100%;
                    }
                }
                h2 {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 2px;
                    color: $SAR-white;
                    background: $SAR-dark-gray;
                    @include lg {
                        padding: 8px 0;
                        margin-bottom: 4px;
                        font-weight: 200;
                        font-size: 1.4rem;
                    }
                    
                }
                
            }
        }
    }
    &.Q14 {
        .learning-check-container {
            .container.c0 {
                max-height: 300px;
                max-width: 100%;
                
                order: 0;
                align-items: flex-start;
                .dropzone {
                    overflow: hidden; 
                        
                    min-height: 0;
                    max-height: 400px;
                    width: 100%;
                    @include sm {
                        max-width: 64%;
                    }
                    .draggableItem {
                        background: $SAR-dark-blue;
                    }
                }
                @include sm {
                    
                    height: auto;
                    align-items: flex-start;
                    .draggableItem {
                        width: 100%;
                    }
                }
                @include md {
                    max-width: 100%;
                    justify-content: center;
                    align-content: center;
                    .dropzone {
                        max-width: 70%;
                        max-height: 600px;
                        height: auto;
                    }
                }
                
            }
            .submitContainer {
                order: 2;
                margin-top: 2rem;
                width: 100% !important;
            }
        }
    }
}
