button {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    color: $SAR-white;
    background: $SAR-burnt-orange;
    outline: none;
    margin: 0 0.5rem;
    &:hover,
    &:focus,
    &:active {
        color: $SAR-light-orange;
    }
    &.initial {
        font-size: 1.5rem;
        background: transparent;
        margin-right: 21px;
        margin-bottom: 17px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0;
    }
    &.submit {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        margin-bottom: 4px;
        @include lg {
            margin-bottom: 2rem;
    }
        padding: 0.5rem 1.5rem;
        @include round-corners;
    }
}
