.Text {
    background: $SAR-white;
    .QContent {
        @include padding;
    }
    .textContent {
        @include sm {
            @include niceDots;
            li {    @include twoCols;   }
        }
        @include md {
            li { @include oneCol;   }
        }
    }
    &.Text.Q2 { 
        @include lg {
            @include thinQContent;
            background-image: url(/images/378x572_ArmedRobbery.jpg);
        }
    }

    &.Text.Q3 {
        @include lg {
            @include thinQContent;
            background-image: url(/images/378x572_Image.jpg);
        }
    }

    &.Text.Q6 {
        @include lg {
            background-image: url(/images/378x572_Trish.jpg);
            @include thinQContent;
        }
    }
    &.Text.Q8 {
        //@include thinQContent;
        .QContent {
            @include padding;
        }     
    }

  
    
    &.Text.Q3.Conclusion { 
       ul {
           margin: 0.2rem 0;
       }
    }
    &.Text.Q4.Conclusion { 
        @include lg {
            background-image: url(/images/378x572_ArmedRobbery.jpg);
            @include thinQContent;
        }
    }
    &.Text.Q11.Conclusion {
        @include lg {
            background-image: url(/images/378x572_Door.jpg);
            @include thinQContent;
        }
        .textContent {
            display: flex;
            flex-direction: column;
            height: 50%;
            div {
                flex-grow: 1;
            }
            .checkboxContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                @include sm {
                    margin-top: 4rem;

                }
               label {
                    display: flex;
                    justify-content: flex-start; 
                    align-items: center;
                    font-size: 1.6em;
                    font-weight: 400;
                    .rc-checkbox  {
                        .rc-checkbox-input {
                            display: none;
                            cursor: pointer;
                        }
                        .rc-checkbox-inner {
                            display: block;
                            position: relative;
                            border: 1px solid $SAR-light-orange;
                            width: 40px;
                            height: 40px;
                            background-color: #eee;
                            margin-right: 1em;
                        }
                        /* Create the checkmark/indicator (hidden when not checked) */
                        .rc-checkbox-inner:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                        /* Show the checkmark when checked */
                        .rc-checkbox-input:checked ~ .rc-checkbox-inner:after {
                            display: block;
                        }
                        /* Style the checkmark/indicator */
                        .rc-checkbox-inner:after {
                            left: 14px;
                            top: 5px;
                            width: 10px;
                            height: 20px;
                            border: solid $SAR-burnt-orange;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
    &.Text.Q12.Conclusion { 
        @include lg {
            background: url(/images/378x572_ArmedRobbery.jpg) right 53px no-repeat white;
            @include thinQContent;
        }
    }   
}
