.Information-Boxes {
    background: $SAR-white; 
    .QContent {
        @include padding;
        ul.buttons {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        /*    height: 100%;  */
            li {
                position: relative;
                width: 150px;
                height: 150px;
                background-color: $SAR-burnt-orange;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                @include round-corners;
                margin: 20px;
                @include sm {
                    width: 180px;
                    height: 50px;
                    margin: 0 20px;
                    background-size: 45%;
                }
                @include md {
                    width: 150px;
                    height: 150px;
                    margin: 20px;
                    background-size: cover;
                }
                &:hover, &:focus { background-color: $SAR-dark-blue; }
                &.Soft-targets {
                    background-image: url(/images/BoxButtonIcons_SoftTarget.png);     
                }
                &.Hard-targets {
                    background-image: url(/images/BoxButtonIcons_HardTarget.png);     
                }
                &.Factors-motivating-crime {
                    background-image: url(/images/BoxButtonIcons_Factors.png);
                }
                &.Reasons-for-violent-behaviour {
                    background-image: url(/images/BoxButtonIcons_Violent.png);
                }
                &.The-typical-armed-robber-of-today {
                    background-image: url(/images/BoxButtonIcons_Robber.png);
                }
                &.What-the-victim-experiences {
                    background-image: url(/images/BoxButtonIcons_Victim.png);
                }
                &.The-offenders-behaviour {
                    background-image: url(/images/BoxButtonIcons_Offender.png);
                }
                
                .tick {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 30px;
                    &.true {
                        background-image: url(/images/tick_white.png);
                        background-position: top right;
                        background-repeat: no-repeat;
                    }
                    
                }
                .modal-button {
                    width: 100%;
                    height: 100%;
                    text-indent: -99999px;
                    background: transparent;
                }
            }   
            
        }
        
        
    }
}

/* flashy selector eh? */

div[class^="styles_modal__"] {
            
    padding: 1em 2em;
    h2 {
        @include SAR-font;
    }
    
    
    button[class^='styles_close'] {
        top: -8px;
        right: -28px;
        background-color: #ffffff;
        color: $SAR-dark-blue;
        border-radius: 50%;
    }
}