.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &.Step1 {
        flex-direction: row;
        background: transparent;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        /*padding: 0.5rem 0;*/
        color: $SAR-white;
        background: $SAR-burnt-orange;
        height: 40px;
        @include lg {
            height: 50px;
        }
        .bar-container {
            margin-left: 2rem;
            width: 140px;
            background: #111111;
            height: 10px;
            border: 2px solid #111111;
            @include round-corners;
            div {
                background: $SAR-white;
                height: 100%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        nav {
            height: 40px;
            
            .progress {
                display: inline-block;
                height: 30px;
                height: auto;
                position: relative;
                bottom: 5px;
            }
            
        }
    }
}