.Multiple-Choice {
  background: $SAR-white; 
  .QContent {
      @include padding;
      ol.alpha {
          display: flex;
          flex-direction: row;
          flex-flow: wrap;
          list-style: none;
          margin: 1rem 0 2rem 0;
          @include sm { 
            margin: 0.5rem 0;
          }
          padding-left: 0;
          width: 100%;
          @include mdp { 
            width: 80%;
            flex-direction: column;
            margin: 1rem 0 2rem 0;
          }
          @include lg { 
            width: 80%;
            flex-direction: column;
            margin: 1rem 0 2rem 0;
          }
          li {
              counter-increment: item;
              width: 100%;
              @include sm { 
                width: 50%;
                &:nth-child(5) {
                  width: 100%;
                }
              }
              @include mdp {
                width: 100%;

              }
              @include lg { 
                width: 100%;
              }
              @include lg { margin-bottom: 0; }
            }
            li:before {
              margin-right: 5px;
              content: counter(item, upper-latin);
              background: $SAR-dark-blue;     
              padding: 8px;
              color: white;
              width: 1.2em;
              text-align: center;
              display: inline-block;
              @include round-corners;
            }
            input {
                position: absolute;
                left: -10000px;
            }
            label {
                color: white;
                background: $SAR-burnt-orange;
                display: inline-block;
                padding: 8px 2%;
                width: 80%;
                vertical-align: top;
                @include round-corners;
                &.selected {
                  background: $SAR-dark-blue;
                }
                &:hover {
                  background: $SAR-dark-blue;
                }
            }
          }
          .submit {
            margin-bottom: 0.3rem;
            @include lg {
              margin-bottom: 2rem;
            }
          }
          .response {
            margin: 1rem 0;
            @include mdp {
              margin: 2rem 0;
            }
          }
      }
}