/* usage:

@include sm {
    padding: 0 20px;
}

*/
@font-face {
  font-family: "AachenStd Bold";
  src: url("fonts/AachenStd-Bold.eot");
  src: url("fonts/AachenStd-Bold.woff") format("woff"), url("fonts/AachenStd-Bold.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
  color: #ce0000;
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  h1 {
    margin-bottom: 1rem;
  }
}

p {
  margin: 0.6rem 0 0 0;
}

@media (min-width: 992px) {
  p {
    margin: 1rem 0;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 1rem 0;
}

ol li {
  margin-top: 0.4rem;
}

.container {
  background-image: url(/images/Background_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 94vh;
}

@media (min-width: 576px) {
  .container .App {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .container .App {
    max-width: 1000px;
    height: 90%;
    height: 662px;
    max-height: 665px;
  }
}

.container .App .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1000px;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

.container .App .content.Intro.Q1 .QContent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .App .content.Intro.Q1 .QContent h1 {
  text-align: center;
}

@media (min-width: 992px) {
  .container .App .content {
    background-position: right 50px;
  }
  .container .App .content.Survive-Armed-Robbery.Intro.Q1 {
    background-image: url(/images/title-survive-armed-robbery.jpg);
    background-position: right top;
  }
  .container .App .content.The-Offender.Intro.Q1 {
    background-image: url(/images/title-the-offender.jpg);
    background-position: right top;
  }
  .container .App .content.New-Crims-new-ways.Intro.Q1 {
    background-image: url(/images/title-the-robbery.jpg);
    background-position: right top;
  }
  .container .App .content.The-Robbery.Intro.Q1 {
    background-image: url(/images/title-the-robbery.jpg);
    background-position: right top;
  }
  .container .App .content.Conclusion.Intro.Q1 {
    background-image: url(/images/title-conclusion.jpg);
    background-position: right top;
  }
  .container .App .content.Intro.Q1 h1 {
    display: none;
  }
}

.container .App .content.Video {
  background-image: url(/images/VideoImg_01.jpg);
  background-position: right top;
}

@media (min-width: 992px) {
  .container .App .content.Video {
    background-position: right 50px;
  }
}

.container .App .content .QContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  background: #002b54;
  color: white;
}

@media (min-width: 992px) {
  header {
    font-size: 1.1rem;
    padding: 1rem 1rem;
  }
}

.Learning-Check {
  background: white;
}

.Learning-Check .QContent {
  padding: 6px 16px;
}

@media (min-width: 992px) {
  .Learning-Check .QContent {
    padding: 26px;
  }
}

.Learning-Check .QContent .learning-check-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }
}

.Learning-Check .QContent .learning-check-container .intro {
  font-size: 1.8rem;
  padding: 20px 20px 600px 20px;
  animation: intro 1s 1;
  -webkit-animation: intro 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
  /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

.Learning-Check .QContent .learning-check-container .intro p {
  margin: 0 0 1rem 0;
}

@media (min-width: 768px) {
  .Learning-Check .QContent .learning-check-container .intro {
    font-size: 1rem;
    animation: none;
    -webkit-animation: none;
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .intro {
    padding: 0 0 40px 0;
  }
}

@media (min-width: 992px) {
  .Learning-Check .QContent .learning-check-container .intro {
    padding: 0;
  }
}

@keyframes intro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
  }
}

@-webkit-keyframes intro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
  }
}

.Learning-Check .QContent .learning-check-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  background: white;
  margin-top: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.Learning-Check .QContent .learning-check-container .container .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  min-height: 110px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container .dropzone {
    min-width: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .container .dropzone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
  }
}

@media (min-width: 992px) {
  .Learning-Check .QContent .learning-check-container .container .dropzone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 0;
    height: 120px;
  }
}

.Learning-Check .QContent .learning-check-container .container .dropzone .draggableItem {
  background: #002b54;
  color: white;
  border-radius: 5px;
  outline: none;
  text-align: center;
  padding: 4px 8px;
  margin: 2px;
  width: 100%;
  min-height: 10%;
  height: auto;
  max-height: initial;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container .dropzone .draggableItem {
    width: 220px;
    padding: 6px 8px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .container .dropzone .draggableItem {
    width: 220px;
    padding: 6px 8px;
  }
}

@media (min-width: 992px) {
  .Learning-Check .QContent .learning-check-container .container .dropzone .draggableItem {
    width: 272px;
    padding: 6px 8px;
  }
}

.Learning-Check .QContent .learning-check-container .container:not(.c0) {
  border: 1px solid #000000;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container:not(.c0) {
    width: 32%;
  }
  .Learning-Check .QContent .learning-check-container .container:not(.c0) .dropzone {
    min-height: 138px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .container:not(.c0) {
    width: 48%;
  }
  .Learning-Check .QContent .learning-check-container .container:not(.c0) .dropzone {
    min-height: 148px;
  }
  .Learning-Check .QContent .learning-check-container .container:not(.c0) .dropzone .draggableItem {
    width: 100%;
  }
}

.Learning-Check .QContent .learning-check-container .container.c0 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 0;
}

.Learning-Check .QContent .learning-check-container .container.c0 .dropzone {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  min-height: 0;
  max-height: 180px;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container.c0 .dropzone {
    max-height: 250px;
  }
}

.Learning-Check .QContent .learning-check-container .container.c0 .dropzone .draggableItem {
  background: #ce0000;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container.c0 {
    max-width: 32%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .container.c0 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 180px;
  }
  .Learning-Check .QContent .learning-check-container .container.c0 .dropzone {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .Learning-Check .QContent .learning-check-container .container.c0 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 120px;
  }
  .Learning-Check .QContent .learning-check-container .container.c0 .dropzone {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.Learning-Check .QContent .learning-check-container .container.submitContainer {
  border: 0;
}

.Learning-Check .QContent .learning-check-container .container.submitContainer .dropzone {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .Learning-Check .QContent .learning-check-container .container.submitContainer {
    min-height: 202px;
    max-height: 252px;
    overflow: hidden;
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Learning-Check .QContent .learning-check-container .container.submitContainer {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }
}

.Learning-Check .QContent .learning-check-container .container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  color: white;
  background: #333333;
}

@media (min-width: 992px) {
  .Learning-Check .QContent .learning-check-container .container h2 {
    padding: 8px 0;
    margin-bottom: 4px;
    font-weight: 200;
    font-size: 1.4rem;
  }
}

.Learning-Check.Q14 .learning-check-container .container.c0 {
  max-height: 300px;
  max-width: 100%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Learning-Check.Q14 .learning-check-container .container.c0 .dropzone {
  overflow: hidden;
  min-height: 0;
  max-height: 400px;
  width: 100%;
}

@media (min-width: 576px) {
  .Learning-Check.Q14 .learning-check-container .container.c0 .dropzone {
    max-width: 64%;
  }
}

.Learning-Check.Q14 .learning-check-container .container.c0 .dropzone .draggableItem {
  background: #002b54;
}

@media (min-width: 576px) {
  .Learning-Check.Q14 .learning-check-container .container.c0 {
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .Learning-Check.Q14 .learning-check-container .container.c0 .draggableItem {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .Learning-Check.Q14 .learning-check-container .container.c0 {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .Learning-Check.Q14 .learning-check-container .container.c0 .dropzone {
    max-width: 70%;
    max-height: 600px;
    height: auto;
  }
}

.Learning-Check.Q14 .learning-check-container .submitContainer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 2rem;
  width: 100% !important;
}

.Multiple-Choice {
  background: white;
}

.Multiple-Choice .QContent {
  padding: 6px 16px;
}

@media (min-width: 992px) {
  .Multiple-Choice .QContent {
    padding: 26px;
  }
}

.Multiple-Choice .QContent ol.alpha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  list-style: none;
  margin: 1rem 0 2rem 0;
  padding-left: 0;
  width: 100%;
}

@media (min-width: 576px) {
  .Multiple-Choice .QContent ol.alpha {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Multiple-Choice .QContent ol.alpha {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0 2rem 0;
  }
}

@media (min-width: 992px) {
  .Multiple-Choice .QContent ol.alpha {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0 2rem 0;
  }
}

.Multiple-Choice .QContent ol.alpha li {
  counter-increment: item;
  width: 100%;
}

@media (min-width: 576px) {
  .Multiple-Choice .QContent ol.alpha li {
    width: 50%;
  }
  .Multiple-Choice .QContent ol.alpha li:nth-child(5) {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Multiple-Choice .QContent ol.alpha li {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .Multiple-Choice .QContent ol.alpha li {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .Multiple-Choice .QContent ol.alpha li {
    margin-bottom: 0;
  }
}

.Multiple-Choice .QContent ol.alpha li:before {
  margin-right: 5px;
  content: counter(item, upper-latin);
  background: #002b54;
  padding: 8px;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.Multiple-Choice .QContent ol.alpha input {
  position: absolute;
  left: -10000px;
}

.Multiple-Choice .QContent ol.alpha label {
  color: white;
  background: #ce0000;
  display: inline-block;
  padding: 8px 2%;
  width: 80%;
  vertical-align: top;
  border-radius: 5px;
}

.Multiple-Choice .QContent ol.alpha label.selected {
  background: #002b54;
}

.Multiple-Choice .QContent ol.alpha label:hover {
  background: #002b54;
}

.Multiple-Choice .QContent .submit {
  margin-bottom: 0.3rem;
}

@media (min-width: 992px) {
  .Multiple-Choice .QContent .submit {
    margin-bottom: 2rem;
  }
}

.Multiple-Choice .QContent .response {
  margin: 1rem 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .Multiple-Choice .QContent .response {
    margin: 2rem 0;
  }
}

.Information-Boxes {
  background: white;
}

.Information-Boxes .QContent {
  padding: 6px 16px;
}

@media (min-width: 992px) {
  .Information-Boxes .QContent {
    padding: 26px;
  }
}

.Information-Boxes .QContent ul.buttons {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*    height: 100%;  */
}

.Information-Boxes .QContent ul.buttons li {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ce0000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 20px;
}

@media (min-width: 576px) {
  .Information-Boxes .QContent ul.buttons li {
    width: 180px;
    height: 50px;
    margin: 0 20px;
    background-size: 45%;
  }
}

@media (min-width: 768px) {
  .Information-Boxes .QContent ul.buttons li {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-size: cover;
  }
}

.Information-Boxes .QContent ul.buttons li:hover, .Information-Boxes .QContent ul.buttons li:focus {
  background-color: #002b54;
}

.Information-Boxes .QContent ul.buttons li.Soft-targets {
  background-image: url(/images/BoxButtonIcons_SoftTarget.png);
}

.Information-Boxes .QContent ul.buttons li.Hard-targets {
  background-image: url(/images/BoxButtonIcons_HardTarget.png);
}

.Information-Boxes .QContent ul.buttons li.Factors-motivating-crime {
  background-image: url(/images/BoxButtonIcons_Factors.png);
}

.Information-Boxes .QContent ul.buttons li.Reasons-for-violent-behaviour {
  background-image: url(/images/BoxButtonIcons_Violent.png);
}

.Information-Boxes .QContent ul.buttons li.The-typical-armed-robber-of-today {
  background-image: url(/images/BoxButtonIcons_Robber.png);
}

.Information-Boxes .QContent ul.buttons li.What-the-victim-experiences {
  background-image: url(/images/BoxButtonIcons_Victim.png);
}

.Information-Boxes .QContent ul.buttons li.The-offenders-behaviour {
  background-image: url(/images/BoxButtonIcons_Offender.png);
}

.Information-Boxes .QContent ul.buttons li .tick {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
}

.Information-Boxes .QContent ul.buttons li .tick.true {
  background-image: url(/images/tick_white.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.Information-Boxes .QContent ul.buttons li .modal-button {
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  background: transparent;
}

/* flashy selector eh? */
div[class^="styles_modal__"] {
  padding: 1em 2em;
}

div[class^="styles_modal__"] h2 {
  font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
  color: #ce0000;
}

div[class^="styles_modal__"] button[class^='styles_close'] {
  top: -8px;
  right: -28px;
  background-color: #ffffff;
  color: #002b54;
  border-radius: 50%;
}

.Text {
  background: white;
}

.Text .QContent {
  padding: 6px 16px;
}

@media (min-width: 992px) {
  .Text .QContent {
    padding: 26px;
  }
}

@media (min-width: 576px) {
  .Text .textContent ul {
    list-style: none;
    /* remove the default */
  }
  .Text .textContent ul li {
    vertical-align: top;
  }
  .Text .textContent ul li::before {
    /* add the new bullet point */
    display: inline-block;
    content: '';
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #bdbdbd;
  }
  .Text .textContent ul li {
    text-indent: -1.4em;
    /* this is only needed if you want to align wrapped text */
  }
  .Text .textContent li {
    display: inline-block;
    width: 46%;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .Text .textContent li {
    display: block;
    width: 100%;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .Text.Text.Q2 {
    background-image: url(/images/378x572_ArmedRobbery.jpg);
  }
  .Text.Text.Q2 .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q2 .QContent {
    padding: 26px;
  }
}

@media (min-width: 992px) {
  .Text.Text.Q3 {
    background-image: url(/images/378x572_Image.jpg);
  }
  .Text.Text.Q3 .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q3 .QContent {
    padding: 26px;
  }
}

@media (min-width: 992px) {
  .Text.Text.Q6 {
    background-image: url(/images/378x572_Trish.jpg);
  }
  .Text.Text.Q6 .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q6 .QContent {
    padding: 26px;
  }
}

.Text.Text.Q8 .QContent {
  padding: 6px 16px;
}

@media (min-width: 992px) {
  .Text.Text.Q8 .QContent {
    padding: 26px;
  }
}

.Text.Text.Q3.Conclusion ul {
  margin: 0.2rem 0;
}

@media (min-width: 992px) {
  .Text.Text.Q4.Conclusion {
    background-image: url(/images/378x572_ArmedRobbery.jpg);
  }
  .Text.Text.Q4.Conclusion .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q4.Conclusion .QContent {
    padding: 26px;
  }
}

@media (min-width: 992px) {
  .Text.Text.Q11.Conclusion {
    background-image: url(/images/378x572_Door.jpg);
  }
  .Text.Text.Q11.Conclusion .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q11.Conclusion .QContent {
    padding: 26px;
  }
}

.Text.Text.Q11.Conclusion .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.Text.Text.Q11.Conclusion .textContent div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .Text.Text.Q11.Conclusion .textContent .checkboxContainer {
    margin-top: 4rem;
  }
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  font-weight: 400;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox {
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-input {
  display: none;
  cursor: pointer;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner {
  display: block;
  position: relative;
  border: 1px solid #ffa64c;
  width: 40px;
  height: 40px;
  background-color: #eee;
  margin-right: 1em;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner:after {
  content: "";
  position: absolute;
  display: none;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-input:checked ~ .rc-checkbox-inner:after {
  display: block;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid #ce0000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 992px) {
  .Text.Text.Q12.Conclusion {
    background: url(/images/378x572_ArmedRobbery.jpg) right 53px no-repeat white;
  }
  .Text.Text.Q12.Conclusion .QContent {
    height: 100%;
    width: 50%;
    background: white;
    padding: 6px 16px;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .Text.Text.Q12.Conclusion .QContent {
    padding: 26px;
  }
}

.Video .QContent {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Video .QContent .intro {
  width: 80%;
  margin: 0px auto;
  margin-top: 5%;
  background: white;
  padding: 0.4rem 1rem 1rem 1rem;
}

@media (min-width: 768px) {
  .Video .QContent .intro {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Video .QContent .intro {
    margin-top: 10%;
  }
}

.Video .QContent .intro button {
  display: block;
  width: 100%;
  margin: 10px auto;
  background: #ce0000;
  padding: 5px 0;
  color: white;
  border-radius: 5px;
}

.Video .QContent .intro button:focus, .Video .QContent .intro button:active {
  background: #002b54;
}

.Video .QContent .intro button .fa {
  background: inherit;
}

.Video .QContent .player-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  /*padding-top: calc(100% /  (640 / 480));*/
}

.Video .QContent .player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer.Step1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  /*padding: 0.5rem 0;*/
  color: white;
  background: #ce0000;
  height: 40px;
}

@media (min-width: 992px) {
  .footer div {
    height: 50px;
  }
}

.footer div .bar-container {
  margin-left: 2rem;
  width: 140px;
  background: #111111;
  height: 10px;
  border: 2px solid #111111;
  border-radius: 5px;
}

.footer div .bar-container div {
  background: white;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.footer div nav {
  height: 40px;
}

.footer div nav .progress {
  display: inline-block;
  height: 30px;
  height: auto;
  position: relative;
  bottom: 5px;
}

button {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  color: white;
  background: #ce0000;
  outline: none;
  margin: 0 0.5rem;
}

button:hover, button:focus, button:active {
  color: #ffa64c;
}

button.initial {
  font-size: 1.5rem;
  background: transparent;
  margin-right: 21px;
  margin-bottom: 17px;
}

button.disabled {
  pointer-events: none;
  opacity: 0;
}

button.submit {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 4px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

@media (min-width: 992px) {
  button.submit {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=App.css.map */