.container {
    background-image: url(/images/Background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    .App {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 94vh;
        @include sm {
            height: 100vh; 
        }
        @include lg {
            max-width: 1000px;
            height: 90%;
            height: 662px;
            max-height: 665px;
        }
        .content {
            display: flex;
            flex-direction: column;
            flex: 1;
            &:not(.Intro) {
            //    background: $SAR-white; 
            }
            
            max-width: 1000px;
            background-size: cover;
            background-size: contain;
            background-repeat: no-repeat;
            
            &.Intro.Q1 {
                .QContent {
                    align-items: center;
                    justify-content: center;
                    h1 {
                        text-align: center;
                    }
                }
            }
            background-position: right top;

            @include lg {
                background-position: right 50px;
                &.Survive-Armed-Robbery.Intro.Q1 {
                    background-image: url(/images/title-survive-armed-robbery.jpg);
                    background-position: right top;
                }
                &.The-Offender.Intro.Q1 {
                    background-image: url(/images/title-the-offender.jpg);
                    background-position: right top;
                }
                &.New-Crims-new-ways.Intro.Q1 {
                    background-image: url(/images/title-the-robbery.jpg); 
                    background-position: right top;
                }
                &.The-Robbery.Intro.Q1 {
                    background-image: url(/images/title-the-robbery.jpg); 
                    background-position: right top;
                }
                &.Conclusion.Intro.Q1 {
                    background-image: url(/images/title-conclusion.jpg);
                    background-position: right top;
                }

                &.Intro.Q1 {
                    h1 {
                        display: none;
                    }
                }
            }
            
            
            &.Video {
                background-image: url(/images/VideoImg_01.jpg);
                background-position: right top;
                @include lg {
                    background-position: right 50px;
                }
            }
            .QContent {
                display: flex;
                flex-direction: column;
                flex: 1;
                
            }            
        }        

    }
}
    
