
@font-face {
    font-family: "AachenStd Bold";
    src: url("fonts/AachenStd-Bold.eot");
    src: 
    url("fonts/AachenStd-Bold.woff") format("woff"),
    url("fonts/AachenStd-Bold.ttf") format("truetype"),
}

@mixin SAR-font {
    font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
    color: $SAR-burnt-orange;
}

h1, h2, h3 {    @include title; }

h1 {
    margin-bottom: 0;
    @include lg {
        margin-bottom: 1rem;
    }
}
p {
    margin: 0.6rem 0 0 0;
    @include lg {
        margin: 1rem 0;
    }
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 1rem 0;
    li {
        margin-top: 0.4rem;
    }
}
