$SAR-white: rgb(255,255,255);
$SAR-dark-gray: rgb(51,51,51);
$SAR-burnt-orange: rgb(206,0,0);
$SAR-light-orange: rgb(255,166,76);
$SAR-dark-blue: rgb(0,43,84);


@mixin title {
    font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
    color: $SAR-burnt-orange;
    margin-top: 0;
}

@mixin round-corners {
    border-radius: 5px;
}

@mixin padding {
    padding: 6px 16px;
    @include lg {
        padding: 26px;
    }
}

@mixin oneCol {
    display: block;
    width: 100%;
    padding-right: 0;
}
@mixin twoCols {
    display: inline-block;
    width: 46%;
    padding-right: 1rem;
}
@mixin niceDots {

    ul {
        list-style: none; /* remove the default */
    
        li {    
            vertical-align: top;
            
        }
                
        li::before { /* add the new bullet point */
            display: inline-block;
            content: '';
            -webkit-border-radius: 0.375rem;
            border-radius: 0.375rem;
            height: 0.75rem;
            width: 0.75rem;
            margin-right: 0.5rem;
            background-color: #bdbdbd;
        }
    
        li {
            text-indent: -1.4em; /* this is only needed if you want to align wrapped text */
        }
    }
}

@mixin thinQContent {
    .QContent {
        height: 100%;
        width: 50%;
        background: $SAR-white;
        @include padding;
    }
}